<div id="grid-galerie">
    <% for(let imag of locals.imagini) { 
        let textAlt = imag.descriere ? imag.descriere : imag.titlu;
    %>
        <figure class="fig-galerie">
            <picture>
                <source srcset="<%= imag.fisier_mic %>" media="(max-width: 600px)">
                <source srcset="<%= imag.fisier_mediu %>" media="(max-width: 1000px)">
                <img src="<%= imag.cale_imagine_absoluta %>" alt="<%= textAlt %>" title="<%= imag.descriere %>">
            </picture>
            <figcaption>
                <strong><%= imag.titlu %></strong><br> 
                <span class="descriere-mica"><%= imag.descriere %></span>
                <% if (imag.licenta) { %>
                    <small><br>Credit: <a href="<%= imag.link_autor %>" target="_blank"><%= imag.autor %></a> (<%= imag.licenta %>)</small>
                <% } %>
            </figcaption>
        </figure>
    <% } %>
</div>